img.hisato {
  height: 300px;
  width: 300px;
  float: right;
  border-radius: 50%
}

h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

p2 {
  font-style: italic;
}

body {
  background-color: lightblue;
}

.language {
  color: green;
}

.sidebar {
  background-color: #0DF7C9;
}

.jumbotron {
  background-color: #0D9EF7;
  text-align: center;
  font-family: sans-serif;
}
